<div class="container">

  <h1 class="mt-3">プロフィール変更</h1>
    <%= form_with(model: @user, local: true) do |f| %>

    <%= render 'users/error_messages' %>

    <%= f.label :new_name %>
    <%= f.text_field :name, class: 'form-control', autofocus: true %>

    <%= f.label :new_email %>
    <%= f.text_field :email, class: 'form-control', autocomplete: "email" %>

    <%= f.label :new_password %>
    <%= f.password_field :password, class: 'form-control' %>

    <%= f.label :confirm_new_password %>
    <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "new-password" %><br>

    <%= f.submit "変更する", class: "btn btn-success" %>
    <br>
    <br>
    <%= link_to "マイページへ戻る", user_path(current_user) %>
    <% end %>
</div>
