<%= stylesheet_link_tag "users", :media => "all" %>

<nav class="navbar navbar-expand-lg fixed-top navbar-light" style="background-color:#d4edda;">
  <h1 class="navbar-brand">GreenActivity</h1>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#bs-navi" aria-controls="bs-navi" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="bs-navi">
    <ul class="navbar-nav">
      <li class="nav-item"><p class="nav-link"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "menu-icon" %></p></li>
      <li class="nav-item"><p class="nav-link"><%= link_to "プロフィール編集", edit_user_path, class: "menu-icon" %></p></li>
      <li class="nav-item"><p class="nav-link"><%= link_to "エコ活動（1日のエコバッグの使用回数を入力)", new_bags_path, class: "menu-icon" %></p></li>
      <li class="nav-item"><p class="nav-link"><%= link_to "3日間エコチャレンジ経過時間", movements_path, class: "menu-icon" %></p></li>
    </ul>
  </div>
</nav>

<body class="container">
  <h1 class="col-md-12"><%= current_user.name %>さん、こんにちは！</h1>
  <p>エコバックの利用と3日間エコチャレンジ(累計CO2削減量1000グラムを達成した後に利用できます)に積極的に参加して、どんどんCO2を削減していきましょう！</p>
  <p>1日の中でエコバックをご利用いただきましたら、上部のエコ活動のリンク(もしくはメニューバー)をクリックしてエコバックの使用回数を入力してください。</p>
  <h4 class="mt-5">累計CO2削減量</h4>　
  <p class="font-weight-bold">約<%= @user.reduction_amount %>グラム</p><br>
  <p class="font-weight-bold">CO2を<%= @user.number %>グラム削減すると3日間エコチャレンジに挑戦できます。</p><br>
  <p class="font-weight-bold">3日間エコチャレンジ成功<%= @user.challenge_counter %>回</p><br>
  <%= render "users/flash.messages" %><br>
  <%= render "movements/three_days_action" %>
  ※累計CO2削減量約14000グラムで杉の木1本の年間CO2吸収量に相当します。<br>
  出典：私の森.jp (森はCO2をどれくらい吸収する？より)
</body>
